*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #121212;
}
.main {
    display: flex;
    justify-content: center;
}
.menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.menu button {
    height:80px;
    width:80px;
    color:white;
    border:3px solid white

}

.size-button {
    
}
.remove-grid-button {
    margin-bottom: auto;
}
.random-mode-button {
    margin-bottom:auto;
}
button.active{
    background-color:white;
    color:black;
    box-shadow:inset 5px 5px 0px #121212
}
.container {
    display:flex;
    flex-wrap: wrap;
    border:5px solid white;
    width:800px;
    height:800px;
    margin:auto
}
.cell {
    border:1px solid #7b7b7b;
    flex:1;
}