@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #121212;
    
}
.main {
    display: flex;
    justify-content: center;
    margin-top:30px;
    height:fit-content;
}
.title {
    color:white;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size:25px;
    letter-spacing:15px;
    font-family: 'Handjet', monospace;
    align-self: center;
    cursor: none;
    padding-left:10px;
    padding-right:10px;
    height:fit-content;

}
.menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.menu button {
    height:80px;
    width:80px;
    color:white;
    border:3px solid white;
    font-family:monospace

}

.toggle-hand-button {
    margin-top: auto;
}
.size-button {
    
}
.toggle-grid-button {
    margin-bottom: auto;
}
.random-mode-button {
    margin-bottom:auto;
}
button.active{
    background-color:white;
    color:black;
    box-shadow:inset 5px 5px 0px #121212
}
.container {
    display:flex;
    flex-wrap: wrap;
    border:5px solid white;
    width:600px;
    height:600px;
    margin:auto
}
.cell {
    border:1px solid #7b7b7b;
    flex:1;
}